.box1{
    width: 100px;
    height: 100px;
    background-color: red;
    padding: 40px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.box2{
    width: 100px;
    height: 100px;
    background-color: blue;
}
input{
    padding:40px;    
}

/* 
Box modelling

-Padding
-Margin
-Borders
-border-radius

Padding
padding-left
padding-right
padding-top
padding-bottom

*/